In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('IVH_ND_Filters.xlsx')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df = df[['subject_id','Msmt #','probe', 'Filters Used', 'Notes']]

In [5]:
df

,subject_id,Msmt #,probe,Filters Used,Notes
0,B132,CM,NICUCM1,(S2): CAL1034: CAL1084: CAL2127:,general: tiepie started at 14:34 on 2/13\nmsmt...
1,B132,CM,NICUCM1,(S1): CAL1034: No Filter CAL1084: N/A CAL2127:...,general: msmt started at 11:53\ndrapes on at 1...
2,B132,CM,NICUCM1,(S1): CAL1034: see notes CAL1084: N/A CAL2127:...,general: tiepie started: 21:15\nmsmt start: 21...
3,B131,CM,NICUCM1,(S3): CAL1034: CAL1084: CAL2127:,general: Transfusion going when we entered roo...
4,B131,CM,NICUCM1,(S1): CAL1034: see notes CAL1084: N/A CAL2127:...,general: cath lab A\n\nProcedure start time & ...
...,...,...,...,...,...
960,A003,1.0,preemie5,NaN,GA:29 wks\npma:33 wks\nREDACTED DOB\nbaby move...
961,A002,2.0,NaN,NaN,NaN
962,A001,2.0,preemie5,NaN,None
963,A002,1.0,preemie5,NaN,GA:26 wks\npma:30 wks\nhas ecg leads on\nbaby ...
964,A001,1.0,NB5,NaN,baby is on high frequency jet ventilator\nbeds...

In [18]:
spot_df = df[(df['probe']=='NB5')]

In [19]:
spot_df

,subject_id,Msmt #,probe,Filters Used,Notes
8,B125,NaN,NB5,(S1): CAL1034: 0.2 CAL2127: 0.2,"general: \nCALIB_1 (400,504,562,608): 0.2 ND\n..."
9,B095,NaN,NB5,(S1): CAL1034: 0.1 CAL2127: 0.2,"general: \nCALIB_1 (413,494,561,605): ND 0.1\n..."
10,B128,No measurement,NB5,(S1): CAL1034: -8 CAL2127: -8,"general: \nRF_1 (398,466,518,529): disregard"
11,B128,2.0,NB5,(S1): CAL1034: 0.1 CAL2127: 0.2,general: patient extremely fussy so measuremen...
12,B110,15.0,NB5,(S1): CAL1034: CAL2127:,"general: \nCALIB_1 (389,475,545,589): No Filte..."
...,...,...,...,...,...
944,A002,9.0,NB5,NaN,DCS belta is around 1.6. need to look at data
951,A001,6.0,NB5,NaN,None
953,A001,5.0,NB5,NaN,pma 40 wks \nbaby is not happy camper. we only...
956,A001,4.0,NB5,NaN,pma 39 wks\nroom air
964,A001,1.0,NB5,NaN,baby is on high frequency jet ventilator\nbeds...

In [36]:
filters = ['1034', '1084', '2127']

In [45]:
filters_used = (spot_df['Filters Used']).to_list()
filters_used[0]
info = ''
for i in filters_used[0]:
    info = info+i

info

'(S1): CAL1034: 0.2 CAL2127: 0.2'

In [42]:
sesion_1  = []
sesion_2 = []

for filter_info in filters_used:
    if 'S1' or 'S2' in filter_info:
        info = ''
        i = 0
        while i < len(filter_info):
            info = info + filter_info[i]
            i = i+1
            
            #Once S1 is in info we start looking for the different filters

            if 'S1' in info:
                filters_copy = filters
                info = ''
                info = info + filter_info[i]
                #while we haven't reach the S2 measurments we will look into the firdt session filters
                while 'S2' not in info:
                    if 'CAL' in info:
                        
                         
                    info = info + filter_info[i]

TypeError: string indices must be integers

In [51]:
filters_used[0]
info = ''
i = 0 
while '2127' not in info:
    print(info)
    info= info+ filters_used[0][i]
    i=i+1

(
(S
(S1
(S1)
(S1):
(S1):
(S1): C
(S1): CA
(S1): CAL
(S1): CAL1
(S1): CAL10
(S1): CAL103
(S1): CAL1034
(S1): CAL1034:
(S1): CAL1034:
(S1): CAL1034: 0
(S1): CAL1034: 0.
(S1): CAL1034: 0.2
(S1): CAL1034: 0.2
(S1): CAL1034: 0.2 C
(S1): CAL1034: 0.2 CA
(S1): CAL1034: 0.2 CAL
(S1): CAL1034: 0.2 CAL2
(S1): CAL1034: 0.2 CAL21
(S1): CAL1034: 0.2 CAL212

In [62]:
n = 1
if filters[n] in info: 
    print(filters[n])

In [49]:
filters_used[0][0]

'('